<div class="m-3">
  <h3>
    #<%= @purchase_order.code %> <%= @purchase_order.name %>
  </h3>


  <div class="form-group">
    <label class="font-weight-bold"><%= t(:'activerecord.attributes.purchase_order.supplier') %>:</label>
    <% if @purchase_order.supplier %>
      <%= @purchase_order.supplier.name %>
    <% else %>

    <% end %>
  </div>

  <div class="form-group">
    <label class="font-weight-bold"><%= t(:'activerecord.attributes.purchase_order.status') %>:</label>
    <span class="status-<%= @purchase_order.status %>">
      <%= PurchaseOrder.human_enum_name(:status, @purchase_order.status)%>
    </span>
  </div>

  <div class="form-group">
    <label class="font-weight-bold"><%= t(:'activerecord.attributes.purchase_order.note') %>:</label>
    <%= @purchase_order.note %>
  </div>


  <div class="row">
  <div class="col-md-9">
    <div class="form-group">
      <label class="font-weight-bold"><%= t(:'activerecord.attributes.purchase_order.product') %></label>

      <table class="table table-bordered">
        <thead>
        <th>Mã hàng hóa</th>
        <th>Tên hàng hóa</th>
        <th>Số lượng</th>
        <th>Đơn vị</th>
        <th>Đơn giá</th>
        <th>Nhà cung cấp</th>
        <th>Thành tiền</th>
        <th></th>
        </thead>
        <tbody>
          <% total = 0 %>
          <% @purchase_order.product_purchase_orders.each do |product_ordered| %>
            <tr>
              <td><%= product_ordered.product.code %></td>
              <td><%= link_to product_ordered.product.name, product_path(product_ordered.product),  target: "_blank" %></td>
              <td><%= product_ordered.quantity %></td>
              <td><%= product_ordered.product.basic_unit.capitalize if product_ordered.product.basic_unit.present? %></td>
              <td><%= number_to_currency(product_ordered.unit_price, precision: 0, unit: '') %></td>

              <td><%= product_ordered.supplier.name if product_ordered.supplier.present? %></td>
              <% if product_ordered.quantity.present? && product_ordered.unit_price.present? %>
                <% price = product_ordered.quantity * product_ordered.unit_price %>
                <td><%= number_to_currency(price, precision: 0, unit: '') %></td>
                <% total += price %>
              <% else %>
                <td></td>
              <% end %>

              <td>
                <%= link_to fa_icon("pencil", class: "btn btn-success"), edit_product_purchase_order_path(product_ordered), remote: true %>
                <%= link_to fa_icon("trash", class: "btn btn-danger"), product_purchase_order_path(product_ordered), method: :delete, class: "text-danger", data: { confirm: "Bạn có chắc chắn muốn xóa yêu cầu này ?" } %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="6">Tổng tiền hàng hóa</td>
            <td style="font-weight: bold"><%= number_to_currency(total, precision: 0, unit: '') %></td>
            <td><%= I18n.with_locale(:vi) { total.to_words }.capitalize %> đồng</td>
          </tr>
        </tbody>
      </table>
    </div>


    <%= link_to new_product_purchase_order_path(purchase_order_id: @purchase_order.id), class: "btn btn-success", remote: true do %>
      <%= fa_icon "plus", text: t('.add_product') %>
    <% end %>
  </div>
  </div>

  <hr>

  <%= link_to status_purchase_order_path(status: 'approve'), method: :post, class: "btn btn-warning #{@purchase_order.approved? || @purchase_order.completed? ? "disabled" : ""}", remote: true do %>
    <%= fa_icon "check", text: "Phê duyệt" %>
  <% end if has_permission?("purchase_order_approve") %>

  <%= link_to status_purchase_order_path(status: 'complete'), method: :post, class: "btn btn-success #{@purchase_order.completed? ? "disabled" : ""}" do  %>
    <%= fa_icon "check-square-o", text: "Hoàn thành" %>
  <% end if has_permission?("purchase_order_approve") %>

  <%= link_to new_purchase_path(purchase_order_id: @purchase_order.id), class: "btn btn-success #{@purchase_order.completed? ? "disabled" : ""}" do  %>
    <%= fa_icon "plus", text: "Tạo đơn nhập hàng" %>
  <% end if has_permission?("purchase_order_new_purchase") %>

  <%= link_to "", class: "btn btn-info", remote: true do %>
    <%= fa_icon "paper-plane", text: "Gửi email" %>
  <% end %>

  <%= link_to purchase_order_path(@purchase_order, format: :pdf), class: "btn btn-info" do %>
    <%= fa_icon "download", text: t(:export_file) %>
  <% end if has_permission?("purchase_order_export_file") %>

  <%= link_to fa_icon("print", text: t(:print)), print_purchase_order_path, class: "btn btn-info", remote: true, onclick: "print('printf')" if has_permission?("purchase_order_print") %>
  <%#= link_to fa_icon("print", text: t(:print)), print_purchase_order_path, class: "btn btn-info", target: "_blank"%>


  <%= link_to fa_icon("trash", text: t(:cancel)), purchase_order_path(@purchase_order), method: :delete, data: { confirm: "Bạn có chắc chắn muốn xóa yêu cầu này ?" }, class: "btn btn-danger" if has_permission?("purchase_order_delete") %>
</div>

<div class="d-none">
  <iframe id="printf" name="printf" src="<%=  print_purchase_order_path(@purchase_order) %>"></iframe>
</div>

<script>
  function print(print_id) {
      var print_element = document.getElementById(print_id);
      print_element.focus();
      print_element.contentWindow.print();
  }
</script>

