<div class="products">
  <div class="header">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span class="title"><%= t('activerecord.attributes.invoice.title') %></span>
          </li>
        </ul>
      </div>
      <div class="mx-auto order-0">

      </div>
      <div class="navbar-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to sale_path, class: "btn btn-info header-menu", target: '_blank' do %>
              <%= fa_icon "plus", text: t('.add_invoice') %>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to "", class: "btn btn-info header-menu" do %>
              <%= fa_icon "download", text: "Xuất excel" %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="notification">
    <% if @invoices.size == 0 %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Chưa có đơn hàng nào. Vui lòng chọn <strong>"<%= t('.add_invoice') %>"</strong> để thêm mới!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  </div>

  <div class="search">
    <div class="col-md-6">
      <%= search_form_for @q, url: invoices_path, method: :get do |f| %>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= t(:search) %></div>
          </div>
          <%= f.text_field :code, placeholder: t('.search_placeholer'), class: "form-control" %>
          <div class="input-group-append">
            <%= f.submit t(:search), class: "btn btn-info btn-park" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="list">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
      <th><%= sort_link @q, :code, t('activerecord.attributes.invoice.code'), default_order: :desc %></th>
      <th><%= t('activerecord.attributes.invoice.date') %></th>
      <th><%= sort_link @q, :supplier, t('activerecord.attributes.invoice.customer') %></th>
      <th><%= sort_link @q, :total_price, t('activerecord.attributes.invoice.total_price') %></th>
      <th><%= sort_link @q, :total_price, t('activerecord.attributes.invoice.sale_off') %></th>
      <th><%= sort_link @q, :total_price, t('activerecord.attributes.invoice.final_price') %></th>
      <th><%= sort_link @q, :total_price, t('activerecord.attributes.invoice.paid') %></th>
      </thead>

      <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td>
            <%= link_to invoice.code, invoice_path(invoice) %>
          </td>
          <td>
            <%= "#{invoice.date} #{invoice.time.strftime('%H:%M') if invoice.time}"  %>
          </td>
          <td>
            <%= invoice.customer.present? ? invoice.customer.name : "Khách lẻ" %>
          </td>
          <td class="text-right">
            <%= number_to_dong(invoice.total_price) %>
          </td>
          <td class="text-right">
            <%= number_to_dong(invoice.sale_off) %>
          </td>
          <td class="text-right">
            <%= number_to_dong(invoice.final_price) %>
          </td>
          <td class="text-right">
            <%= number_to_dong(invoice.given_money) %>
          </td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
      <tr>
        <td colspan="7">
          <%= render partial: 'shared/pagination_footer_table', locals: {objects: @invoices} %>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>