<div class="row">
  <div class="col-1">Vai trò</div>

  <div class="col-3">
    <% roles = current_store.roles.collect{|role| [role.name, role.id]} %>
    <% role = current_store.members.where(user_id: @user.id).first.role %>
    <%= form_with model: @user, id: 'update_member' do |f| %>
      <%= select_tag 'member[role_id]', options_for_select(roles, role.present? ? role.id : ""), prompt: t(:prompt_role), class: "form-control form-control-sm"%>
      <br>
      <%= f.submit t(:save), class: "btn btn-success" %>
    <% end %>

  </div>
  <div class="col">
    <div class="float-right">
      <%= link_to fa_icon("edit", text: t(:edit)), role.present? ? edit_role_path(role, user_id: @user.id) : "#", class: "btn btn-success", id: "edit_role", remote: true %>
      <%= link_to fa_icon("paste", text: "Lưu thành vai trò mới"), "", class: "btn btn-info d-none" %>
      <%= link_to fa_icon("plus", text: "Thêm vai trò mới"), new_role_path(user_id: @user.id), class: "btn btn-park text-white", remote: true %>
    </div>
  </div>
</div>

<div>
  
</div>

<script>
  $(document).ready(function () {
      let current_user_id = <%= @user.id %>;
      $('#member_role_id').on('change', function() {
          if (this.value) {
              $("#edit_role").attr("href", "/manage/roles/" + this.value + "/edit?user_id=" + current_user_id)
          } else {
              $("#edit_role").attr("href", "#");
              toastr.error("Vui lòng chọn một vai trò trước khi sửa.")
          }

          // Submit when change role
          // $('#update_member').find('[type="submit"]').trigger('click');
      });
  })
</script>