<aside class="manage-aside">
  <div class="side-content">
    <nav class="sidebar sidebar-fixed">

      <ul class="nav nav-list">

        <li class="sale-menu">
          <%= link_to sale_path, class: "btn btn-sale", target: :_blank do %>
            <%= fa_icon "desktop", class: "sidebar-icon" %>
            <span class="sidebar-name sale-name">Bán hàng</span>
          <% end %>
        </li>

        <li class="<%= current_page?(controller: 'manage', action: 'index') ? "active" : ""%>">
          <%= link_to manage_path do %>
            <%= fa_icon "home", class: "sidebar-icon" %>
            <span class="sidebar-name">Tổng quan</span>
          <% end %>
        </li>

        <li class="<%= current_page?(invoices_path) ? "active" : '' %>">
          <%= link_to invoices_path do %>
            <%= fa_icon "shopping-cart", class: "sidebar-icon" %>
            <span class="sidebar-name">Đơn hàng</span>
          <% end %>
        </li>

        <li class="<%= request.path.start_with?(products_path) ? "active" : '' %>">
          <%= link_to products_path do %>
            <%= fa_icon "barcode", class: "sidebar-icon" %>
            <span class="sidebar-name">Hàng hóa</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#" do %>
            <%= fa_icon "users", class: "sidebar-icon" %>
            <span class="sidebar-name">Đối tác</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#" do %>
            <%= fa_icon "truck", class: "sidebar-icon" %>
            <span class="sidebar-name">Nhập hàng</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#" do %>
            <%= fa_icon "list-alt", class: "sidebar-icon" %>
            <span class="sidebar-name">Tồn kho</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#" do %>
            <%= fa_icon "line-chart", class: "sidebar-icon" %>
            <span class="sidebar-name">Doanh số</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#" do %>
            <%= fa_icon "money", class: "sidebar-icon" %>
            <span class="sidebar-name">Lợi nhuận</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#" do %>
            <%= fa_icon "cogs", class: "sidebar-icon" %>
            <span class="sidebar-name">Thiết lập</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>