<div class="products">
  <div class="header">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span class="title"><%= t('activerecord.attributes.purchase.title') %></span>
          </li>
        </ul>
      </div>
      <div class="mx-auto order-0">

      </div>
      <div class="navbar-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to new_purchase_path, class: "btn btn-success header-menu" do %>
              <%= fa_icon "plus", text: t('.add_purchase') %>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to new_purchase_path, class: "btn btn-info header-menu" do %>
              <%= fa_icon "download", text: "Xuất excel" %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="notification">
    <% if @purchases.size == 0 %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Chưa có nhập hàng nào. Vui lòng chọn <strong>"<%= t('.add_purchase') %>"</strong> để thêm mới!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  </div>

  <div class="search">
    <div class="col-md-6">
      <%= search_form_for @q, url: purchases_path, method: :get do |f| %>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= t(:search) %></div>
          </div>
          <%= f.text_field :code, placeholder: t('.search_placeholer'), class: "form-control" %>
          <div class="input-group-append">
            <%= f.submit t(:search), class: "btn btn-info btn-park" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="list">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
      <th><%= sort_link @q, :code, t('activerecord.attributes.purchase.code'), default_order: :desc %></th>
      <th><%= t('activerecord.attributes.purchase_order.code') %></th>
      <th><%= t('activerecord.attributes.purchase.date') %></th>
      <th><%= sort_link @q, :supplier, t('activerecord.attributes.purchase.supplier') %></th>
      <th><%= sort_link @q, :price, t('activerecord.attributes.purchase.price') %></th>
      <th><%= sort_link @q, :status, t('activerecord.attributes.purchase.status') %></th>
      </thead>

      <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td>
            <%= link_to purchase.code, purchase_path(purchase) %>
          </td>
          <td>
            <%= link_to purchase.purchase_order.code, purchase.purchase_order if purchase.purchase_order %>
          </td>
          <td>
            <%= "#{purchase.date} #{purchase.time.strftime('%H:%M') if purchase.time}"  %>
          </td>
          <td>
            <%= purchase.supplier.name if purchase.supplier.present? %>
          </td>
          <td>
            <%= number_to_dong(purchase.price) %>
          </td>
          <td class="purchase-status-<%= purchase.status %>">
            <%= Purchase.human_enum_name(:status, purchase.status) %>
          </td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
      <tr>
        <td colspan="6">
          <%= render partial: 'shared/pagination_footer_table', locals: {objects: @purchases} %>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>