<nav class="navbar navbar-home navbar-expand-lg navbar-dark bg-park">
  <a class="navbar-brand" href="#">Park Việt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= "active" if current_page?(root_path) %>">
        <%= link_to "Trang chủ", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tính năng</a>
      </li>
      <li class="nav-item <%= "active" if current_page?(pricing_path) %>">
        <%= link_to "Bảng giá", pricing_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Thiết bị</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hỗ trợ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tin tức</a>
      </li>
    </ul>
    <% if user_signed_in? %>
      <%= link_to fa_icon("list", text: "Quản lý"), manage_path, class: "btn btn-info", style: "margin-right: 10px;" %>
      <%= link_to fa_icon("shopping-cart", text: "Bán hàng"), sale_path, class: "btn btn-success" %>
    <% else %>
      <%= link_to "Đăng nhập", new_user_session_path, class: "btn btn-link" %>
      <%= link_to "Đăng ký", new_user_registration_path, class: "btn btn-info" %>
    <% end %>
  </div>
</nav>