<div class="m-3">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link <%= request.path.start_with?(customers_path) ? "active" : "" %>" href="<%= customers_path %>">
            <%= fa_icon("user", text: t(:customer_tab)) %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= request.path.start_with?(suppliers_path) ? "active" : "" %>" href="<%= suppliers_path %>">
            <%= fa_icon("truck", text: t(:supplier_tab)) %>
          </a>
        </li>

        <li class="nav-item ml-auto">
          <%= link_to new_customer_path, class: "btn btn-success", remote: true do %>
            <%= fa_icon "plus", text: t(:add_new_customer_button) %>
          <% end %>
        </li>

      </ul>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-6">
          <%= search_form_for @q, url: customers_path, method: :get do |f| %>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><%= t(:search) %></div>
              </div>
              <%= f.text_field :name_or_phone_or_code_or_abbr_name_cont, placeholder: t('.search_placeholer'), class: "form-control" %>
              <div class="input-group-append">
                <%= f.submit t(:search), class: "btn btn-info btn-park" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <th><%= sort_link @q, :code, t('activerecord.attributes.customer.code'), default_order: :desc %></th>
        <th><%= sort_link @q, :name, t('activerecord.attributes.customer.name') %></th>
        <th><%= t('activerecord.attributes.customer.phone') %></th>
        <th><%= sort_link @q, :address, t('activerecord.attributes.customer.address') %></th>
        <th>Lần mua hàng cuối cùng</th>
        <th>Tổng tiền hàng</th>
        <th>Tiền trả hàng</th>
        <th>Nợ</th>
        <th></th>
        </thead>

        <tbody>
        <% @customers.each do |customer| %>
          <tr id="customer-<%= customer.id %>">
            <td><%= link_to customer.code, customer_path(customer) %></td>
            <td class="font-weight-bold"><%= link_to customer.name, customer_path(customer) %></td>
            <td><%= customer.phone %></td>
            <td><%= customer.address %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <%= link_to fa_icon("pencil"), edit_customer_path(customer), remote: true %>
              <%= link_to fa_icon("trash"), customer_path(customer), method: :delete, class: "text-danger", data: {remote: true, confirm: 'Bạn có chắc muốn xóa KH này?'} %>
            </td>
          </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="9">
            <%= render partial: 'shared/pagination_footer_table', locals: {objects: @products} %>
          </td>
        </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
