<%= form_with(model: print_template, local: true) do |form| %>
  <% if print_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(print_template.errors.count, "error") %> prohibited this print_template from being saved:</h2>

      <ul>
      <% print_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">

      <div class="row">
        <div class="col-7 form-group form-inline">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control form-control-sm" %>
        </div>
        <div class="col-5">
          <%= form.label :size %>
          <%= form.text_field :size %>
        </div>
      </div>

      <div class="field">
        <%= form.cktext_area :template, class: "form-control ckeditor", ckeditor: { toolbar: 'mini' } %>
      </div>

    </div>


    <div class="col"></div>
  </div>

  <div class="actions d-none">
    <%= form.submit %>
  </div>
<% end %>

<script>
  $(document).ready(function () {
      CKEDITOR.replace($('.ckeditor').attr('id'), {
          toolbar: [
              { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
              { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
          ]
      })
  })
</script>
