<div class="row mt-2">
  <div class="col-1">
    <h3>Mẫu in</h3>
  </div>
  <div class="col">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "Hóa đơn", print_templates_path(type: "invoice"), class: "nav-link #{current_page?(print_templates_path, check_parameters: true) || current_page?(print_templates_path(type: "invoice")) ? "active" : ""}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Đặt hàng nhập", print_templates_path(type: "purchase_order"), class: "nav-link #{current_page?(print_templates_path(type: "purchase_order")) ? "active" : ""}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Nhập hàng", print_templates_path(type: "purchase"), class: "nav-link #{current_page?(print_templates_path(type: "purchase")) ? "active" : ""}" %>
      </li>
    </ul>
  </div>
</div>
<br>

<div class="row">
  <div class="col">
    <div class="title form-group form-inline">
      Mẫu in
      <% templates = @print_templates.present? ? @print_templates.collect{|t| [t.name, t.id]} : [] %>
      <% template = @print_templates.first if @print_templates.present? %>
      <%= select_tag 'print_template', options_for_select(templates, template.present? ? template.id : ""), class: "form-control form-control-sm w-50 ml-3"%>
      <%= link_to fa_icon("edit"), template.present? ? edit_print_template_path(template) : "#",  class: "btn btn-sm btn-outline-success ml-3", id: "edit_template", remote: true %>
      <%= link_to fa_icon("plus"), new_print_template_path(type: params[:type].present? ? params[:type] : "invoice"),  class: "btn btn-sm btn-outline-success ml-3", remote: true %>
    </div>
  </div>
  <div class="col">
    <div class="title"></div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $('#print_template').on('change', function() {
            if (this.value) {
                $("#edit_template").attr("href", "/manage/print_templates/" + this.value + "/edit")
            } else {
                $("#edit_template").attr("href", "#");
                toastr.error("Vui lòng chọn một vai trò trước khi sửa.")
            }
        });
    })
</script>