<br>
<br>
<br>
<br>

<div class="d-flex justify-content-center">
  <div class="card login-card">
    <div class="card-body">

      <h3 class="card-title"><%= fa_icon "sign-in", text: "Đăng nhập" %></h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= render 'shared/message_html' %>

        <div class="form-group">
          <%= f.label :login, class: "label-text" %><br/>
          <%= f.text_field :login, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "label-text" %><br/>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group form-check form-check-inline">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end -%>

        <div class="actions text-center">
          <button type="submit" class="btn btn-info btn-login" name="type" value="manage">
            <%= fa_icon("list", text: t(:btn_manage)) %>
          </button>

          <button type="submit" class="btn btn-success btn-login" name="type" value="sale">
            <%= fa_icon("shopping-cart", text: t(:btn_sale)) %>
          </button>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="d-flex justify-content-center help-text-login">
  <div style="text-align: center;">
    <%= link_to fa_icon("phone", text: "Hỗ trợ: 0349593392") , "#", class: "help-text-login" %>
    |
    <%= link_to fa_icon("lock", text: "Quên mật khẩu"), new_password_path(resource_name), class: "help-text-login" %>
    |
    <%= link_to fa_icon("pencil-square-o", text: "Đăng ký"), new_user_registration_path, class: "help-text-login" %>
  </div>
</div>