<div class="new-role">
  <%= form_with model: role, id: 'new-role' do |f| %>
    <%= hidden_field_tag "user_id", params[:user_id] %>
    <div class="row">
      <div class="col">
        <div class="form-group row">
          <div class="col-2">
            <%= f.label :name, class: "col-form-label font-weight-bold" %>
          </div>
          <div class="col-6">
            <%= f.text_field :name, class: "form-control form-control-sm", placeholder: t('.name_placeholder'), required: true %>
          </div>
        </div>
      </div>
    </div>

    <% Role.all_permissions.each do |class_permissions| %>
      <div><%= t(class_permissions[0]) %></div>

      <% class_permissions[1].each do |group_permissions| %>
        <fieldset class="border">
          <legend class="w-auto">
            <%= link_to fa_icon("check"), "" %>
            <%= group_permissions.keys.first %>
          </legend>
          <div style="margin-bottom: 0.5rem;">
            <div class="row">
              <% group_permissions.values.first.each do |permission| %>
                <div class="col-3">
                  <% checked = role.permissions.include?(permission.to_s) if role.permissions.present? %>
                  <%= check_box_tag 'role[permissions][]', permission, checked.present? ? checked : false , id: "role_permissions_" %> <%= permission %>
                </div>
              <% end %>
            </div>
          </div>
        </fieldset>
      <% end %>
    <% end %>

    <%= f.submit t(:save), class: 'd-none' %>
    <div id="delete-container">
      <%= link_to "Delete", role_path(role), method: :delete, id: "delete_role", data: { confirm: "Bạn có chắc chắn muốn xóa vai trò này ?" } unless role.new_record?%>
    </div>
  <% end %>
</div>

<script>
    $(document).ready(function () {
        'use strict';

        $('#submit_add_role_btn').click(function () {
            $('#new-role').find('[type="submit"]').trigger('click');
        });

        $('#delete_role_btn').click(function () {
            $('#delete-container').find('a')[0].click();
        });
    })
</script>