<div class="new-role">
  <%= form_with model: role, id: 'new-role' do |f| %>
    <%= hidden_field_tag "user_id", params[:user_id] %>
    <div class="row">
      <div class="col">
        <div class="form-group row">
          <div class="col-2">
            <%= f.label :name, class: "col-form-label font-weight-bold" %>
          </div>
          <div class="col-6">
            <%= f.text_field :name, class: "form-control form-control-sm", placeholder: t('.name_placeholder') %>
          </div>
        </div>
      </div>
    </div>

    <div>Giao dịch</div>

    <fieldset class="border">
      <legend class="w-auto">
        <%= link_to fa_icon("check"), "" %>
        Đặt hàng nhập</legend>
      <label>
        <%= check_box_tag 'role[permissions][]', "view_purchase_orders", false, id: "role_permissions_" %> Xem danh sách

        <%= check_box_tag 'role[permissions][]', "add_purchase_orders", false, id: "role_permissions_" %> Thêm/Sửa
      </label>
    </fieldset>

    <%= f.submit t(:save), class: 'd-none' %>
  <% end %>
</div>

<script>
    $(document).ready(function () {
        'use strict';

        $('#submit_add_role_btn').click(function () {
            $('#new-role').find('[type="submit"]').trigger('click');
        });
    })
</script>