<ul class="nav nav-tabs product-groups" id="new-product" role="tab">
  <li class="nav-item">
    <a href="#group-list" id="group-list-tab" data-toggle="tab" role="tab" aria-controls="basic" aria-selected="true" class="nav-link <%= "active" if tab.eql?('list') %>">
      <%= fa_icon "list" %> <span class="tab-name">Danh sách nhà sản xuất</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#new-group" id="new-group-tab" data-toggle="tab" role="tab" aria-controls="detail" aria-selected="true" class="nav-link <%= "active" if tab.eql?('new') %>">
      <%= fa_icon "plus" %> <span class="tab-name">Tạo nhóm nhà sản xuất</span>
    </a>
  </li>
</ul>

<div class="tab-content mx-3 mt-3">
  <div class="tab-pane fade <%= "show active" if tab.eql?('list') %>" id="group-list" role="tabpanel" aria-labelledby="list-tab">
    <div class="products">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Tên nhà sản xuất</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr id="row-none" class="<%= @producers.size != 0 ? "d-none" : "d-table-row" %>">
          <td colspan="2" class="font-italic">Không có nhà sản xuất nào. Vui lòng thêm nhà sản xuất mới</td>
        </tr>
        <% @producers.each do |producer| %>
          <tr id="producer-<%= producer.id %>">
            <td><%= producer.name %></td>
            <td class="text-center">
              <%= link_to fa_icon("pencil-square-o"), "#", class: "text-center mr-2" %>
              <%= link_to fa_icon("trash-o"), producer_path(producer), method: :delete, class: 'text-danger', data: { confirm: "Bạn có chắc chắn muốn xóa nhà sản xuất: #{producer.name} ?", remote: true  } %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade <%= "show active" if tab.eql?('new') %>" id="new-group" role="tabpanel" aria-labelledby="new-tab">
    <%= form_with model: Producer.new do |f| %>
      <div class="form-group row">
        <%= f.label :name, "Tên nhà sản xuất", class: "col-md-3 text-right font-weight-bold" %>
        <div class="col-md-9">
          <%= f.text_field :name, class: "form-control form-control-sm", placeholder: "Nhập tên nhà sản xuất", required: true %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <%= f.button "Lưu", class: "btn btn-info btn-park", type: 'submit', name: 'kind', value: 'save' %>
          <%= f.button "Lưu & Tiếp tục", class: "btn btn-info btn-park", type: 'submit', name: 'kind', value: 'cont' %>
        </div>
      </div>
    <% end %>
  </div>
</div>