<div class="product">
  <div class="header">

    <ul class="nav nav-tabs new-product-tabs" id="new-product" role="tab">
      <li class="nav-item">
        <a href="#basic-content" id="basic-tab" data-toggle="tab" role="tab" aria-controls="basic" aria-selected="true" class="nav-link active">
          <%= fa_icon "barcode" %> <span class="tab-name"><%= t('.tab_basic_information') %></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#detail-content" id="detail-tab" data-toggle="tab" role="tab" aria-controls="detail" aria-selected="true" class="nav-link">
          <%= fa_icon "file-text-o" %> <span class="tab-name"><%= t('.tab_detail_information') %></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#part-content" id="part-tab" data-toggle="tab" role="tab" aria-controls="part" aria-selected="true" class="nav-link">
          <%= fa_icon "info-circle" %> <span><%= t('.tab_product_part') %></span>
        </a>
      </li>


      <li class="nav-item ml-auto">
        <button type="button" class="btn btn-success" id="btn_save_product"><%= fa_icon "floppy-o", text: t(:save_only) %></button>
        <button type="button" class="btn btn-success" id="btn_save_product_and_add_new"><%= fa_icon "floppy-o", text: t(:save_cont) %></button>

        <%= link_to products_path, class: "btn btn-secondary" do %>
          <%= fa_icon "ban", text: t(:cancel) %>
        <% end %>
      </li>

    </ul>

  </div>

  <%= form_with model: @product do |f| %>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="basic-content" role="tabpanel" aria-labelledby="home-tab">
        <%= render 'new_product_basic', f: f, locals: {f: f} %>
      </div>
      <div class="tab-pane fade" id="detail-content" role="tabpanel" aria-labelledby="detail-tab">
        <%= render 'new_product_detail', f: f, locals: {f: f} %>
      </div>
      <div class="tab-pane fade" id="part-content" role="tabpanel" aria-labelledby="part-tab">
        <%= render 'new_product_part', f: f, locals: {f: f} %>
      </div>
    </div>

  <% end %>
</div>

<script defer="defer">
    $(document).ready(function () {
        $("#btn_save_product").click(function () {
            $('#save_only_product').trigger('click');
        });

        $("#btn_save_product_and_add_new").click(function () {
            $('#save_product_and_add_new').trigger('click');
        });

        $("#product_images").change(function () {
            let files = this.files;
            if(!files) return;

            let upload_positions = [];
            for (let i = 1; i <= 5; i++){
                if ($("#preview-image-"+i).html().trim() == "") {
                    upload_positions.push(i);
                }
            }

            let fileArr = Array.from(this.files);

            for (let i = 0; i < upload_positions.length; i++) {
              let image_file = fileArr.shift();
              if (image_file) {
                  showPreview(image_file, upload_positions[i])
              }
            }
        });

        function showPreview(image_file, position) {
              let reader = new FileReader();
              reader.onload = function(e) {
                  if (position === 1) {
                      $('#preview-image-' + position).html('<img src="' + e.target.result + '" class="rounded preview-image-big">');
                  } else {
                      $('#preview-image-' + position).html('<img src="' + e.target.result + '" class="rounded preview-image">');
                  }

              };
              reader.readAsDataURL(image_file);
        }
    })
</script>