<% set_meta_tags title: t('activerecord.attributes.product.title'), site: t(:title), reverse: true %>
<div class="products">
  <div class="header">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span class="title"><%= t('activerecord.attributes.product.title') %></span>
          </li>
        </ul>
      </div>
      <div class="mx-auto order-0">

      </div>
      <div class="navbar-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to new_product_path, class: "btn btn-info header-menu" do %>
              <%= fa_icon "plus", text: t('.add_product') %>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to new_product_path, class: "btn btn-info header-menu" do %>
              <%= fa_icon "upload", text: "Nhập excel" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_product_path, class: "btn btn-info header-menu" do %>
              <%= fa_icon "download", text: "Xuất excel" %>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a class="dropdown-toggle btn btn-info header-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon "columns" %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="notification">
    <% if @products.size == 0 %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Chưa có hàng hóa nào trong cửa hàng của bạn. Vui lòng chọn <strong>"Thêm hàng hóa"</strong> để thêm hàng hóa của bạn!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  </div>

  <div class="search">
    <div class="col-md-6">
      <%= search_form_for @q, url: products_path, method: :get do |f| %>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= t(:search) %></div>
          </div>
          <%= f.text_field :name_or_code_or_abbr_name_cont, placeholder: t('.search_placeholer'), class: "form-control" %>
          <div class="input-group-append">
            <%= f.submit t(:search), class: "btn btn-info btn-park" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="list">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
      <th><%= sort_link @q, :code, t('activerecord.attributes.product.code'), default_order: :desc %></th>
      <th><%= sort_link @q, :name, t('activerecord.attributes.product.name') %></th>
      <th><%= t('activerecord.attributes.product.cost_price') %></th>
      <th><%= t('activerecord.attributes.product.sale_price') %></th>
      <th><%= t('activerecord.attributes.product.in_stock_short') %></th>
      <th></th>
      </thead>

      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
            <%= link_to product.code, product_path(product) %>
          </td>
          <td class="font-weight-bold">
            <%= link_to product.name, product_path(product) %>
          </td>
          <td>
            <%= product.cost_price %>
          </td>
          <td>
            <%= product.sale_price %>
          </td>
          <td>
            <%= product.in_stock %>
          </td>
          <td>
            <%= link_to fa_icon("pencil"), edit_product_path(product) %>
            <%= link_to fa_icon("trash"), product_path(product), method: :delete, class: "text-danger", data: { confirm: "Bạn có chắc chắn muốn xóa hàng hóa này ?" } %>
          </td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
      <tr>
        <td colspan="6">
          <%= render partial: 'shared/pagination_footer_table', locals: {objects: @products} %>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>