<% set_meta_tags title: @product.name, site: t(:short_title), reverse: true %>
<div class="m-3 product">
  <div class="card">
    <div class="card-header">
      <h5 class="product-name font-weight-bold mb-0"><%= @product.name %></h5>
    </div>
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">
            <%= fa_icon("info-circle", text: t('.tab_information')) %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <%= fa_icon("server", text: t('.tab_in_stock_event')) %>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <%= fa_icon("list-alt", text: t('.tab_in_stock')) %>
          </a>
        </li>

        <li class="nav-item ml-auto">
          <%= link_to edit_product_path(@product), class: "btn btn-success" do %>
            <%= fa_icon "pencil", text: t(:update) %>
          <% end %>

          <% is_active = @product.status.eql?("active") %>
          <%= link_to update_status_product_path(@product, status: is_active ? "inactive" : "active"), class: "btn #{is_active ? "btn-danger" : "btn-success"}", remote: true, 'data-turbolinks': "false" do %>
            <%= fa_icon "lock", text: is_active ? t(:stop_sale) : t(:allow_sale)%>
          <% end %>

          <%= link_to product_path(@product), method: :delete, class: "btn btn-danger", data: { confirm: "Bạn có chắc chắn muốn xóa hàng hóa này ?", remote: true } do %>
            <%= fa_icon "trash", text: t(:delete) %>
          <% end %>

          <%= link_to products_path, class: "btn btn-secondary" do %>
            <%= fa_icon "arrow-left", text: t(:back) %>
          <% end %>
        </li>

      </ul>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <% if @product.images.present? %>
        <div class="col-md-6 col-sm-6 row">
          <div class="col-10 p-2">
            <%= image_tag @product.images.first.variant(resize: '320x320'), class: 'img-fluid product-show-image-big' %>
          </div>

          <div class="col-2 p-2">
            <% @product.images.each do |image| %>
              <%= image_tag image.variant(size: '320x320'), class: 'img-fluid img-thumbnail product-show-image-icon' %>
            <% end %>
          </div>
        </div>
        <% end %>

        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col">
              <%= fa_icon "check", class: "text-success", text: "Được bán trực tiếp," %>
              <%= fa_icon "times", class: "text-danger", text: "Không tích điểm" %>
            </div>

          </div>

          <hr>

          <div class="row">
            <div class="col-4"><%= t('activerecord.attributes.product.code') %></div>
            <div class="col-8 font-weight-bold"><%= @product.code %></div>
          </div>

          <hr>

          <% if @product.product_group %>
          <div class="row">
            <div class="col-4"><%= t('activerecord.attributes.product.product_group_id') %></div>
            <div class="col-8"><%= @product.product_group.name %></div>
          </div>
          <hr>
          <% end %>

          <div class="row">
            <div class="col-4"><%= t('activerecord.attributes.product.sale_price') %></div>
            <div class="col-8"><%= number_to_currency @product.sale_price, locale: :vi, precision: 0, delimiter: ' ' %></div>
          </div>

          <hr>

          <div class="row">
            <div class="col-4"><%= t('activerecord.attributes.product.cost_price') %></div>
            <div class="col-8"><%= number_to_currency @product.cost_price, locale: :vi, precision: 0, delimiter: ' ' %></div>
          </div>

          <hr>

          <div class="row">
            <div class="col-4"><%= t('activerecord.attributes.product.in_stock_range') %></div>
            <div class="col-8"><%= @product.in_stock_min %> -> <%= @product.in_stock_max %></div>
          </div>

          <hr>

          <% if @product.producer %>
          <div class="row">
            <div class="col-4"><%= t('activerecord.attributes.product.producer_id') %></div>
            <div class="col-8"><%= @product.producer.name %></div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label><%= t('activerecord.attributes.product.description') %></label> <br>
          <%= @product.description.present? ? @product.description : t(:not_update) %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label><%= t('activerecord.attributes.product.note') %></label> <br>
          <%= @product.note.present? ? @product.note : t(:not_update) %>
        </div>
      </div>
    </div>
  </div>
</div>
