<div class="m-3">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link <%= request.path.start_with?(customers_path) ? "active" : "" %>" href="<%= customers_path %>">
            <%= fa_icon("user", text: t(:customer_tab)) %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= request.path.start_with?(suppliers_path) ? "active" : "" %>" href="<%= suppliers_path %>">
            <%= fa_icon("truck", text: t(:supplier_tab)) %>
          </a>
        </li>

        <li class="nav-item ml-auto">
          <%= link_to new_supplier_path, class: "btn btn-success", remote: true do %>
            <%= fa_icon "plus", text: t(:add_new_supplier_button) %>
          <% end %>
        </li>

      </ul>
    </div>
    <div class="card-body">

      <div class="row mb-3">
        <div class="col-md-6">
          <%= search_form_for @q, url: suppliers_path, method: :get do |f| %>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><%= t(:search) %></div>
              </div>
              <%= f.text_field :name_or_phone_or_code_or_abbr_name_cont, placeholder: t('.search_placeholer'), class: "form-control" %>
              <div class="input-group-append">
                <%= f.submit t(:search), class: "btn btn-info btn-park" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
        <th><%= sort_link @q, :code, t('activerecord.attributes.supplier.code'), default_order: :desc %></th>
        <th><%= sort_link @q, :name, t('activerecord.attributes.supplier.name') %></th>
        <th><%= t('activerecord.attributes.supplier.phone') %></th>
        <th><%= sort_link @q, :address, t('activerecord.attributes.supplier.address') %></th>
        <th>Nợ cần trả hiện tại</th>
        <th>Tổng đã mua</th>
        <th>Lần nhập hàng cuối cùng</th>
        <th></th>
        </thead>

        <% @suppliers.each do |supplier| %>
          <tr id="customer-<%= supplier.id %>">
            <td><%= link_to supplier.code, supplier_path(supplier) %></td>
            <td class="font-weight-bold"><%= link_to supplier.name, supplier_path(supplier) %></td>
            <td><%= supplier.phone %></td>
            <td><%= supplier.address %></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <%= link_to fa_icon("pencil"), edit_supplier_path(supplier), remote: true %>
              <%= link_to fa_icon("trash"), supplier_path(supplier), method: :delete, remote: true, class: "text-danger" %>
            </td>
          </tr>
        <% end %>

        <tfoot>
        <tr>
          <td colspan="8">
            <%= render partial: 'shared/pagination_footer_table', locals: {objects: @suppliers} %>
          </td>
        </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>