<p id="notice"><%= notice %></p>

<p>
  <strong>Reportable:</strong>
  <%= @report.reportable %>
</p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @report.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @report.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
